body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../查询结果_2_files/u0_original.png');
}

.u0_container {
    position:absolute;
    left:10px;
    top:10px;
    width:790px;
    height:50px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:796px;
    height:56px;
}

.u1 {
    position:absolute;
    left:2px;
    top:2px;
    width:786px;
    height:46px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:10px;
    top:10px;
    width:790px;
    height:50px
}

.u2_original {
    background-image: url('../查询结果_2_files/u2_original.png');
}

.u2_container {
    position:absolute;
    left:10px;
    top:70px;
    width:150px;
    height:450px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:456px;
}

.u3 {
    position:absolute;
    left:2px;
    top:217px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:10px;
    top:70px;
    width:150px;
    height:450px
}

.u4_original {
    background-image: url('../查询结果_2_files/u4_original.png');
}

.u4_container {
    position:absolute;
    left:11px;
    top:80px;
    width:120px;
    height:30px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:36px;
}

.u5 {
    position:absolute;
    left:2px;
    top:2px;
    width:116px;
    height:27px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:11px;
    top:80px;
    width:120px;
    height:30px
}

.u6_original {
    background-image: url('../查询结果_2_files/u6_original.png');
}

.u6_container {
    position:absolute;
    left:170px;
    top:70px;
    width:630px;
    height:450px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:636px;
    height:456px;
}

.u7 {
    position:absolute;
    left:2px;
    top:217px;
    width:626px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:170px;
    top:70px;
    width:630px;
    height:450px
}

.u8_original {
    background-image: url('../查询结果_2_files/u8_original.png');
}

.u8_container {
    position:absolute;
    left:395px;
    top:80px;
    width:180px;
    height:40px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:46px;
}

.u9 {
    position:absolute;
    left:2px;
    top:6px;
    width:176px;
    height:27px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:395px;
    top:80px;
    width:180px;
    height:40px
}

#u10 {
    position:absolute;
    left:177px;
    top:137px;
    width:621px;
    height:88px
}

.u10_table {
    background-image: url('../查询结果_2_files/u10_table.png');
}

.u10_table {
    position:absolute;
    left:-3px;
    top:-3px;
    width:625px;
    height:92px;
}

.u11_original {
    background-image: url('../查询结果_2_files/u11_original.png');
}

.u11_container {
    position:absolute;
    left:0px;
    top:0px;
    width:85px;
    height:23px;
}

.u12 {
    position:absolute;
    left:2px;
    top:2px;
    width:81px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:0px;
    top:0px;
    width:85px;
    height:23px
}

.u13_original {
    background-image: url('../查询结果_2_files/u13_original.png');
}

.u13_container {
    position:absolute;
    left:85px;
    top:0px;
    width:70px;
    height:23px;
}

.u14 {
    position:absolute;
    left:2px;
    top:2px;
    width:66px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:85px;
    top:0px;
    width:70px;
    height:23px
}

.u15_original {
    background-image: url('../查询结果_2_files/u13_original.png');
}

.u15_container {
    position:absolute;
    left:155px;
    top:0px;
    width:70px;
    height:23px;
}

.u16 {
    position:absolute;
    left:2px;
    top:2px;
    width:66px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:155px;
    top:0px;
    width:70px;
    height:23px
}

.u17_original {
    background-image: url('../查询结果_2_files/u17_original.png');
}

.u17_container {
    position:absolute;
    left:225px;
    top:0px;
    width:61px;
    height:23px;
}

.u18 {
    position:absolute;
    left:2px;
    top:2px;
    width:57px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:225px;
    top:0px;
    width:61px;
    height:23px
}

.u19_original {
    background-image: url('../查询结果_2_files/u19_original.png');
}

.u19_container {
    position:absolute;
    left:286px;
    top:0px;
    width:42px;
    height:23px;
}

.u20 {
    position:absolute;
    left:2px;
    top:2px;
    width:38px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:286px;
    top:0px;
    width:42px;
    height:23px
}

.u21_original {
    background-image: url('../查询结果_2_files/u21_original.png');
}

.u21_container {
    position:absolute;
    left:328px;
    top:0px;
    width:60px;
    height:23px;
}

.u22 {
    position:absolute;
    left:2px;
    top:2px;
    width:56px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:328px;
    top:0px;
    width:60px;
    height:23px
}

.u23_original {
    background-image: url('../查询结果_2_files/u11_original.png');
}

.u23_container {
    position:absolute;
    left:388px;
    top:0px;
    width:85px;
    height:23px;
}

.u24 {
    position:absolute;
    left:2px;
    top:2px;
    width:81px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:388px;
    top:0px;
    width:85px;
    height:23px
}

.u25_original {
    background-image: url('../查询结果_2_files/u25_original.png');
}

.u25_container {
    position:absolute;
    left:473px;
    top:0px;
    width:59px;
    height:23px;
}

.u26 {
    position:absolute;
    left:2px;
    top:2px;
    width:55px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:473px;
    top:0px;
    width:59px;
    height:23px
}

.u27_original {
    background-image: url('../查询结果_2_files/u27_original.png');
}

.u27_container {
    position:absolute;
    left:532px;
    top:0px;
    width:84px;
    height:23px;
}

.u28 {
    position:absolute;
    left:2px;
    top:2px;
    width:80px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:532px;
    top:0px;
    width:84px;
    height:23px
}

.u29_original {
    background-image: url('../查询结果_2_files/u29_original.png');
}

.u29_container {
    position:absolute;
    left:0px;
    top:23px;
    width:85px;
    height:20px;
}

.u30 {
    position:absolute;
    left:2px;
    top:2px;
    width:81px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:0px;
    top:23px;
    width:85px;
    height:20px
}

.u31_original {
    background-image: url('../查询结果_2_files/u31_original.png');
}

.u31_container {
    position:absolute;
    left:85px;
    top:23px;
    width:70px;
    height:20px;
}

.u32 {
    position:absolute;
    left:2px;
    top:2px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:85px;
    top:23px;
    width:70px;
    height:20px
}

.u33_original {
    background-image: url('../查询结果_2_files/u31_original.png');
}

.u33_container {
    position:absolute;
    left:155px;
    top:23px;
    width:70px;
    height:20px;
}

.u34 {
    position:absolute;
    left:2px;
    top:2px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:155px;
    top:23px;
    width:70px;
    height:20px
}

.u35_original {
    background-image: url('../查询结果_2_files/u35_original.png');
}

.u35_container {
    position:absolute;
    left:225px;
    top:23px;
    width:61px;
    height:20px;
}

.u36 {
    position:absolute;
    left:2px;
    top:2px;
    width:57px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:225px;
    top:23px;
    width:61px;
    height:20px
}

.u37_original {
    background-image: url('../查询结果_2_files/u37_original.png');
}

.u37_container {
    position:absolute;
    left:286px;
    top:23px;
    width:42px;
    height:20px;
}

.u38 {
    position:absolute;
    left:2px;
    top:2px;
    width:38px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:286px;
    top:23px;
    width:42px;
    height:20px
}

.u39_original {
    background-image: url('../查询结果_2_files/u39_original.png');
}

.u39_container {
    position:absolute;
    left:328px;
    top:23px;
    width:60px;
    height:20px;
}

.u40 {
    position:absolute;
    left:2px;
    top:2px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:328px;
    top:23px;
    width:60px;
    height:20px
}

.u41_original {
    background-image: url('../查询结果_2_files/u29_original.png');
}

.u41_container {
    position:absolute;
    left:388px;
    top:23px;
    width:85px;
    height:20px;
}

.u42 {
    position:absolute;
    left:2px;
    top:2px;
    width:81px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:388px;
    top:23px;
    width:85px;
    height:20px
}

.u43_original {
    background-image: url('../查询结果_2_files/u43_original.png');
}

.u43_container {
    position:absolute;
    left:473px;
    top:23px;
    width:59px;
    height:20px;
}

.u44 {
    position:absolute;
    left:2px;
    top:2px;
    width:55px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:473px;
    top:23px;
    width:59px;
    height:20px
}

.u45_original {
    background-image: url('../查询结果_2_files/u45_original.png');
}

.u45_container {
    position:absolute;
    left:532px;
    top:23px;
    width:84px;
    height:20px;
}

.u46 {
    position:absolute;
    left:2px;
    top:2px;
    width:80px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:532px;
    top:23px;
    width:84px;
    height:20px
}

.u47_original {
    background-image: url('../查询结果_2_files/u29_original.png');
}

.u47_container {
    position:absolute;
    left:0px;
    top:43px;
    width:85px;
    height:20px;
}

.u48 {
    position:absolute;
    left:2px;
    top:2px;
    width:81px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:0px;
    top:43px;
    width:85px;
    height:20px
}

.u49_original {
    background-image: url('../查询结果_2_files/u31_original.png');
}

.u49_container {
    position:absolute;
    left:85px;
    top:43px;
    width:70px;
    height:20px;
}

.u50 {
    position:absolute;
    left:2px;
    top:2px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:85px;
    top:43px;
    width:70px;
    height:20px
}

.u51_original {
    background-image: url('../查询结果_2_files/u31_original.png');
}

.u51_container {
    position:absolute;
    left:155px;
    top:43px;
    width:70px;
    height:20px;
}

.u52 {
    position:absolute;
    left:2px;
    top:2px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:155px;
    top:43px;
    width:70px;
    height:20px
}

.u53_original {
    background-image: url('../查询结果_2_files/u35_original.png');
}

.u53_container {
    position:absolute;
    left:225px;
    top:43px;
    width:61px;
    height:20px;
}

.u54 {
    position:absolute;
    left:2px;
    top:2px;
    width:57px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:225px;
    top:43px;
    width:61px;
    height:20px
}

.u55_original {
    background-image: url('../查询结果_2_files/u37_original.png');
}

.u55_container {
    position:absolute;
    left:286px;
    top:43px;
    width:42px;
    height:20px;
}

.u56 {
    position:absolute;
    left:2px;
    top:2px;
    width:38px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:286px;
    top:43px;
    width:42px;
    height:20px
}

.u57_original {
    background-image: url('../查询结果_2_files/u39_original.png');
}

.u57_container {
    position:absolute;
    left:328px;
    top:43px;
    width:60px;
    height:20px;
}

.u58 {
    position:absolute;
    left:2px;
    top:2px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:328px;
    top:43px;
    width:60px;
    height:20px
}

.u59_original {
    background-image: url('../查询结果_2_files/u29_original.png');
}

.u59_container {
    position:absolute;
    left:388px;
    top:43px;
    width:85px;
    height:20px;
}

.u60 {
    position:absolute;
    left:2px;
    top:2px;
    width:81px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59 {
    position:absolute;
    left:388px;
    top:43px;
    width:85px;
    height:20px
}

.u61_original {
    background-image: url('../查询结果_2_files/u43_original.png');
}

.u61_container {
    position:absolute;
    left:473px;
    top:43px;
    width:59px;
    height:20px;
}

.u62 {
    position:absolute;
    left:2px;
    top:2px;
    width:55px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:473px;
    top:43px;
    width:59px;
    height:20px
}

.u63_original {
    background-image: url('../查询结果_2_files/u45_original.png');
}

.u63_container {
    position:absolute;
    left:532px;
    top:43px;
    width:84px;
    height:20px;
}

.u64 {
    position:absolute;
    left:2px;
    top:2px;
    width:80px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:532px;
    top:43px;
    width:84px;
    height:20px
}

.u65_original {
    background-image: url('../查询结果_2_files/u29_original.png');
}

.u65_container {
    position:absolute;
    left:0px;
    top:63px;
    width:85px;
    height:20px;
}

.u66 {
    position:absolute;
    left:2px;
    top:2px;
    width:81px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65 {
    position:absolute;
    left:0px;
    top:63px;
    width:85px;
    height:20px
}

.u67_original {
    background-image: url('../查询结果_2_files/u31_original.png');
}

.u67_container {
    position:absolute;
    left:85px;
    top:63px;
    width:70px;
    height:20px;
}

.u68 {
    position:absolute;
    left:2px;
    top:2px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67 {
    position:absolute;
    left:85px;
    top:63px;
    width:70px;
    height:20px
}

.u69_original {
    background-image: url('../查询结果_2_files/u31_original.png');
}

.u69_container {
    position:absolute;
    left:155px;
    top:63px;
    width:70px;
    height:20px;
}

.u70 {
    position:absolute;
    left:2px;
    top:2px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:155px;
    top:63px;
    width:70px;
    height:20px
}

.u71_original {
    background-image: url('../查询结果_2_files/u35_original.png');
}

.u71_container {
    position:absolute;
    left:225px;
    top:63px;
    width:61px;
    height:20px;
}

.u72 {
    position:absolute;
    left:2px;
    top:2px;
    width:57px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71 {
    position:absolute;
    left:225px;
    top:63px;
    width:61px;
    height:20px
}

.u73_original {
    background-image: url('../查询结果_2_files/u37_original.png');
}

.u73_container {
    position:absolute;
    left:286px;
    top:63px;
    width:42px;
    height:20px;
}

.u74 {
    position:absolute;
    left:2px;
    top:2px;
    width:38px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73 {
    position:absolute;
    left:286px;
    top:63px;
    width:42px;
    height:20px
}

.u75_original {
    background-image: url('../查询结果_2_files/u39_original.png');
}

.u75_container {
    position:absolute;
    left:328px;
    top:63px;
    width:60px;
    height:20px;
}

.u76 {
    position:absolute;
    left:2px;
    top:2px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75 {
    position:absolute;
    left:328px;
    top:63px;
    width:60px;
    height:20px
}

.u77_original {
    background-image: url('../查询结果_2_files/u29_original.png');
}

.u77_container {
    position:absolute;
    left:388px;
    top:63px;
    width:85px;
    height:20px;
}

.u78 {
    position:absolute;
    left:2px;
    top:2px;
    width:81px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77 {
    position:absolute;
    left:388px;
    top:63px;
    width:85px;
    height:20px
}

.u79_original {
    background-image: url('../查询结果_2_files/u43_original.png');
}

.u79_container {
    position:absolute;
    left:473px;
    top:63px;
    width:59px;
    height:20px;
}

.u80 {
    position:absolute;
    left:2px;
    top:2px;
    width:55px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79 {
    position:absolute;
    left:473px;
    top:63px;
    width:59px;
    height:20px
}

.u81_original {
    background-image: url('../查询结果_2_files/u45_original.png');
}

.u81_container {
    position:absolute;
    left:532px;
    top:63px;
    width:84px;
    height:20px;
}

.u82 {
    position:absolute;
    left:2px;
    top:2px;
    width:80px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81 {
    position:absolute;
    left:532px;
    top:63px;
    width:84px;
    height:20px
}

.u83 {
    position:absolute;
    left:435px;
    top:350px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u86_selected {
    background-image: url('../查询结果_2_files/u86_selected.png');
}

.u86_original {
    background-image: url('../查询结果_2_files/u86_original.png');
}

.u86_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u86_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u87 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86 {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px
}

.u88_original {
    background-image: url('../resources/images/transparent.gif');
}

.u88_container {
    position:absolute;
    left:22px;
    top:0px;
    width:84px;
    height:20px;
}

#u88_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:90px;
    height:26px;
}

.u89 {
    position:absolute;
    left:3px;
    top:0px;
    width:79px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u88 {
    position:absolute;
    left:22px;
    top:0px;
    width:84px;
    height:20px
}

.u91_original {
    background-image: url('../resources/images/transparent.gif');
}

.u91_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u91_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u92 {
    position:absolute;
    left:3px;
    top:0px;
    width:53px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u91 {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px
}

.u94_original {
    background-image: url('../resources/images/transparent.gif');
}

.u94_container {
    position:absolute;
    left:22px;
    top:0px;
    width:84px;
    height:20px;
}

#u94_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:90px;
    height:26px;
}

.u95 {
    position:absolute;
    left:3px;
    top:0px;
    width:79px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u94 {
    position:absolute;
    left:22px;
    top:0px;
    width:84px;
    height:20px
}

.u97_selected {
    background-image: url('../查询结果_2_files/u86_selected.png');
}

.u97_original {
    background-image: url('../查询结果_2_files/u86_original.png');
}

.u97_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u97_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u98 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97 {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px
}

.u99_original {
    background-image: url('../resources/images/transparent.gif');
}

.u99_container {
    position:absolute;
    left:22px;
    top:0px;
    width:84px;
    height:20px;
}

#u99_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:90px;
    height:26px;
}

.u100 {
    position:absolute;
    left:3px;
    top:0px;
    width:79px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u99 {
    position:absolute;
    left:22px;
    top:0px;
    width:84px;
    height:20px
}

.u102_original {
    background-image: url('../resources/images/transparent.gif');
}

.u102_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u102_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u103 {
    position:absolute;
    left:3px;
    top:0px;
    width:73px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u102 {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px
}

.u105_original {
    background-image: url('../resources/images/transparent.gif');
}

.u105_container {
    position:absolute;
    left:22px;
    top:0px;
    width:84px;
    height:20px;
}

#u105_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:90px;
    height:26px;
}

.u106 {
    position:absolute;
    left:3px;
    top:0px;
    width:219px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u105 {
    position:absolute;
    left:22px;
    top:0px;
    width:84px;
    height:20px
}

.u108_selected {
    background-image: url('../查询结果_2_files/u86_selected.png');
}

.u108_original {
    background-image: url('../查询结果_2_files/u86_original.png');
}

.u108_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u108_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u109 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108 {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px
}

.u110_original {
    background-image: url('../resources/images/transparent.gif');
}

.u110_container {
    position:absolute;
    left:22px;
    top:0px;
    width:84px;
    height:20px;
}

#u110_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:90px;
    height:26px;
}

.u111 {
    position:absolute;
    left:3px;
    top:0px;
    width:79px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u110 {
    position:absolute;
    left:22px;
    top:0px;
    width:84px;
    height:20px
}

.u113_original {
    background-image: url('../resources/images/transparent.gif');
}

.u113_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u113_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u114 {
    position:absolute;
    left:3px;
    top:0px;
    width:53px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u113 {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px
}

.u116_original {
    background-image: url('../resources/images/transparent.gif');
}

.u116_container {
    position:absolute;
    left:22px;
    top:0px;
    width:84px;
    height:20px;
}

#u116_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:90px;
    height:26px;
}

.u117 {
    position:absolute;
    left:3px;
    top:0px;
    width:99px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u116 {
    position:absolute;
    left:22px;
    top:0px;
    width:84px;
    height:20px
}

.u119_original {
    background-image: url('../resources/images/transparent.gif');
}

.u119_container {
    position:absolute;
    left:22px;
    top:0px;
    width:84px;
    height:20px;
}

#u119_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:90px;
    height:26px;
}

.u120 {
    position:absolute;
    left:3px;
    top:0px;
    width:79px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u119 {
    position:absolute;
    left:22px;
    top:0px;
    width:84px;
    height:20px
}

.u122_original {
    background-image: url('../resources/images/transparent.gif');
}

.u122_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u122_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u123 {
    position:absolute;
    left:3px;
    top:0px;
    width:53px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u122 {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px
}

.u125_original {
    background-image: url('../resources/images/transparent.gif');
}

.u125_container {
    position:absolute;
    left:22px;
    top:0px;
    width:32px;
    height:20px;
}

#u125_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:38px;
    height:26px;
}

.u126 {
    position:absolute;
    left:3px;
    top:0px;
    width:27px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u125 {
    position:absolute;
    left:22px;
    top:0px;
    width:32px;
    height:20px
}

