body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../个人信息_1_files/u0_original.png');
}

.u0_container {
    position:absolute;
    left:10px;
    top:10px;
    width:790px;
    height:50px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:796px;
    height:56px;
}

.u1 {
    position:absolute;
    left:2px;
    top:2px;
    width:786px;
    height:46px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:10px;
    top:10px;
    width:790px;
    height:50px
}

.u2_original {
    background-image: url('../个人信息_1_files/u2_original.png');
}

.u2_container {
    position:absolute;
    left:10px;
    top:70px;
    width:150px;
    height:450px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:456px;
}

.u3 {
    position:absolute;
    left:2px;
    top:217px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:10px;
    top:70px;
    width:150px;
    height:450px
}

.u4_original {
    background-image: url('../个人信息_1_files/u4_original.png');
}

.u4_container {
    position:absolute;
    left:11px;
    top:80px;
    width:120px;
    height:30px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:36px;
}

.u5 {
    position:absolute;
    left:2px;
    top:2px;
    width:116px;
    height:27px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:11px;
    top:80px;
    width:120px;
    height:30px
}

.u6_original {
    background-image: url('../个人信息_1_files/u6_original.png');
}

.u6_container {
    position:absolute;
    left:170px;
    top:70px;
    width:630px;
    height:450px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:636px;
    height:456px;
}

.u7 {
    position:absolute;
    left:2px;
    top:217px;
    width:626px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:170px;
    top:70px;
    width:630px;
    height:450px
}

#u8 {
    position:absolute;
    left:365px;
    top:138px;
    width:245px;
    height:281px
}

.u8_table {
    background-image: url('../个人信息_1_files/u8_table.png');
}

.u8_table {
    position:absolute;
    left:-3px;
    top:-3px;
    width:249px;
    height:285px;
}

.u9_original {
    background-image: url('../个人信息_1_files/u9_original.png');
}

.u9_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:23px;
}

.u10 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:23px
}

.u11_original {
    background-image: url('../个人信息_1_files/u11_original.png');
}

.u11_container {
    position:absolute;
    left:100px;
    top:0px;
    width:140px;
    height:23px;
}

.u12 {
    position:absolute;
    left:2px;
    top:2px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:100px;
    top:0px;
    width:140px;
    height:23px
}

.u13_original {
    background-image: url('../个人信息_1_files/u9_original.png');
}

.u13_container {
    position:absolute;
    left:0px;
    top:23px;
    width:100px;
    height:23px;
}

.u14 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:0px;
    top:23px;
    width:100px;
    height:23px
}

.u15_original {
    background-image: url('../个人信息_1_files/u11_original.png');
}

.u15_container {
    position:absolute;
    left:100px;
    top:23px;
    width:140px;
    height:23px;
}

.u16 {
    position:absolute;
    left:2px;
    top:2px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:100px;
    top:23px;
    width:140px;
    height:23px
}

.u17_original {
    background-image: url('../个人信息_1_files/u9_original.png');
}

.u17_container {
    position:absolute;
    left:0px;
    top:46px;
    width:100px;
    height:23px;
}

.u18 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:0px;
    top:46px;
    width:100px;
    height:23px
}

.u19_original {
    background-image: url('../个人信息_1_files/u11_original.png');
}

.u19_container {
    position:absolute;
    left:100px;
    top:46px;
    width:140px;
    height:23px;
}

.u20 {
    position:absolute;
    left:2px;
    top:2px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:100px;
    top:46px;
    width:140px;
    height:23px
}

.u21_original {
    background-image: url('../个人信息_1_files/u9_original.png');
}

.u21_container {
    position:absolute;
    left:0px;
    top:69px;
    width:100px;
    height:23px;
}

.u22 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:0px;
    top:69px;
    width:100px;
    height:23px
}

.u23_original {
    background-image: url('../个人信息_1_files/u11_original.png');
}

.u23_container {
    position:absolute;
    left:100px;
    top:69px;
    width:140px;
    height:23px;
}

.u24 {
    position:absolute;
    left:2px;
    top:2px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:100px;
    top:69px;
    width:140px;
    height:23px
}

.u25_original {
    background-image: url('../个人信息_1_files/u9_original.png');
}

.u25_container {
    position:absolute;
    left:0px;
    top:92px;
    width:100px;
    height:23px;
}

.u26 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:0px;
    top:92px;
    width:100px;
    height:23px
}

.u27_original {
    background-image: url('../个人信息_1_files/u11_original.png');
}

.u27_container {
    position:absolute;
    left:100px;
    top:92px;
    width:140px;
    height:23px;
}

.u28 {
    position:absolute;
    left:2px;
    top:2px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:100px;
    top:92px;
    width:140px;
    height:23px
}

.u29_original {
    background-image: url('../个人信息_1_files/u9_original.png');
}

.u29_container {
    position:absolute;
    left:0px;
    top:115px;
    width:100px;
    height:23px;
}

.u30 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:0px;
    top:115px;
    width:100px;
    height:23px
}

.u31_original {
    background-image: url('../个人信息_1_files/u11_original.png');
}

.u31_container {
    position:absolute;
    left:100px;
    top:115px;
    width:140px;
    height:23px;
}

.u32 {
    position:absolute;
    left:2px;
    top:2px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:100px;
    top:115px;
    width:140px;
    height:23px
}

.u33_original {
    background-image: url('../个人信息_1_files/u9_original.png');
}

.u33_container {
    position:absolute;
    left:0px;
    top:138px;
    width:100px;
    height:23px;
}

.u34 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:0px;
    top:138px;
    width:100px;
    height:23px
}

.u35_original {
    background-image: url('../个人信息_1_files/u11_original.png');
}

.u35_container {
    position:absolute;
    left:100px;
    top:138px;
    width:140px;
    height:23px;
}

.u36 {
    position:absolute;
    left:2px;
    top:2px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:100px;
    top:138px;
    width:140px;
    height:23px
}

.u37_original {
    background-image: url('../个人信息_1_files/u9_original.png');
}

.u37_container {
    position:absolute;
    left:0px;
    top:161px;
    width:100px;
    height:23px;
}

.u38 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:0px;
    top:161px;
    width:100px;
    height:23px
}

.u39_original {
    background-image: url('../个人信息_1_files/u11_original.png');
}

.u39_container {
    position:absolute;
    left:100px;
    top:161px;
    width:140px;
    height:23px;
}

.u40 {
    position:absolute;
    left:2px;
    top:2px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:100px;
    top:161px;
    width:140px;
    height:23px
}

.u41_original {
    background-image: url('../个人信息_1_files/u9_original.png');
}

.u41_container {
    position:absolute;
    left:0px;
    top:184px;
    width:100px;
    height:23px;
}

.u42 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:0px;
    top:184px;
    width:100px;
    height:23px
}

.u43_original {
    background-image: url('../个人信息_1_files/u11_original.png');
}

.u43_container {
    position:absolute;
    left:100px;
    top:184px;
    width:140px;
    height:23px;
}

.u44 {
    position:absolute;
    left:2px;
    top:2px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:100px;
    top:184px;
    width:140px;
    height:23px
}

.u45_original {
    background-image: url('../个人信息_1_files/u9_original.png');
}

.u45_container {
    position:absolute;
    left:0px;
    top:207px;
    width:100px;
    height:23px;
}

.u46 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:0px;
    top:207px;
    width:100px;
    height:23px
}

.u47_original {
    background-image: url('../个人信息_1_files/u11_original.png');
}

.u47_container {
    position:absolute;
    left:100px;
    top:207px;
    width:140px;
    height:23px;
}

.u48 {
    position:absolute;
    left:2px;
    top:2px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:100px;
    top:207px;
    width:140px;
    height:23px
}

.u49_original {
    background-image: url('../个人信息_1_files/u9_original.png');
}

.u49_container {
    position:absolute;
    left:0px;
    top:230px;
    width:100px;
    height:23px;
}

.u50 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:0px;
    top:230px;
    width:100px;
    height:23px
}

.u51_original {
    background-image: url('../个人信息_1_files/u11_original.png');
}

.u51_container {
    position:absolute;
    left:100px;
    top:230px;
    width:140px;
    height:23px;
}

.u52 {
    position:absolute;
    left:2px;
    top:2px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:100px;
    top:230px;
    width:140px;
    height:23px
}

.u53_original {
    background-image: url('../个人信息_1_files/u9_original.png');
}

.u53_container {
    position:absolute;
    left:0px;
    top:253px;
    width:100px;
    height:23px;
}

.u54 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:0px;
    top:253px;
    width:100px;
    height:23px
}

.u55_original {
    background-image: url('../个人信息_1_files/u11_original.png');
}

.u55_container {
    position:absolute;
    left:100px;
    top:253px;
    width:140px;
    height:23px;
}

.u56 {
    position:absolute;
    left:2px;
    top:2px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:100px;
    top:253px;
    width:140px;
    height:23px
}

.u57_original {
    background-image: url('../个人信息_1_files/u57_original.png');
}

.u57_container {
    position:absolute;
    left:395px;
    top:80px;
    width:180px;
    height:40px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:46px;
}

.u58 {
    position:absolute;
    left:2px;
    top:6px;
    width:176px;
    height:27px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:395px;
    top:80px;
    width:180px;
    height:40px
}

.u61_selected {
    background-image: url('../个人信息_1_files/u61_selected.png');
}

.u61_original {
    background-image: url('../个人信息_1_files/u61_original.png');
}

.u61_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u61_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u62 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px
}

.u63_original {
    background-image: url('../resources/images/transparent.gif');
}

.u63_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u64 {
    position:absolute;
    left:3px;
    top:0px;
    width:73px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u63 {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px
}

.u66_original {
    background-image: url('../resources/images/transparent.gif');
}

.u66_container {
    position:absolute;
    left:22px;
    top:0px;
    width:84px;
    height:20px;
}

#u66_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:90px;
    height:26px;
}

.u67 {
    position:absolute;
    left:3px;
    top:0px;
    width:79px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u66 {
    position:absolute;
    left:22px;
    top:0px;
    width:84px;
    height:20px
}

.u69_selected {
    background-image: url('../个人信息_1_files/u61_selected.png');
}

.u69_original {
    background-image: url('../个人信息_1_files/u61_original.png');
}

.u69_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u69_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u70 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px
}

.u71_original {
    background-image: url('../resources/images/transparent.gif');
}

.u71_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u72 {
    position:absolute;
    left:3px;
    top:0px;
    width:73px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u71 {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px
}

.u74_original {
    background-image: url('../resources/images/transparent.gif');
}

.u74_container {
    position:absolute;
    left:22px;
    top:0px;
    width:32px;
    height:20px;
}

#u74_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:38px;
    height:26px;
}

.u75 {
    position:absolute;
    left:3px;
    top:0px;
    width:27px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u74 {
    position:absolute;
    left:22px;
    top:0px;
    width:32px;
    height:20px
}

.u77_original {
    background-image: url('../resources/images/transparent.gif');
}

.u77_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u78 {
    position:absolute;
    left:3px;
    top:0px;
    width:53px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u77 {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px
}

.u80_original {
    background-image: url('../resources/images/transparent.gif');
}

.u80_container {
    position:absolute;
    left:22px;
    top:0px;
    width:84px;
    height:20px;
}

#u80_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:90px;
    height:26px;
}

.u81 {
    position:absolute;
    left:3px;
    top:0px;
    width:79px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u80 {
    position:absolute;
    left:22px;
    top:0px;
    width:84px;
    height:20px
}

.u83_original {
    background-image: url('../resources/images/transparent.gif');
}

.u83_container {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px;
}

#u83_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u84 {
    position:absolute;
    left:3px;
    top:0px;
    width:53px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u83 {
    position:absolute;
    left:22px;
    top:0px;
    width:58px;
    height:20px
}

.u86_original {
    background-image: url('../resources/images/transparent.gif');
}

.u86_container {
    position:absolute;
    left:22px;
    top:0px;
    width:32px;
    height:20px;
}

#u86_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:38px;
    height:26px;
}

.u87 {
    position:absolute;
    left:3px;
    top:0px;
    width:27px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u86 {
    position:absolute;
    left:22px;
    top:0px;
    width:32px;
    height:20px
}

